.page-main {
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    .page-header {
        font-size: 28px;
        font-weight: 800;
        color: green;
    }

    .page-contents {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;

        .file-upload {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 5px;

            .inputs-wrapper {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;
                gap: 10px;
                flex-wrap: wrap;

                .sheet-input {
                    width: 150px;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    outline: none;
                }

                .file-input {
                    width: 500px;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    outline: none;
                }

                .submit-button {
                    background-color: green;
                    border-radius: 4px;
                    padding: 7px 20px;
                    box-sizing: border-box;
                    color: white;
                    cursor: pointer;
                }
            }


        }

        .list-table {
            width: 100%;
            height: fit-content;

            .message-wrapper {
                .copy-icon {
                    cursor: pointer;
                }
            }
        }
    }
}